@import './button.scss';

.Upload {
    border: 1px dashed gray;
    padding: 10px;
    text-align: center;

    &__form {
        &__drag,
        &__separator {
            display: block;
            color: gray;
            margin: 0px;
        }
    
        &__drag {
            font-size: 30px;
        }
    
        &__separator {
            font-size: 20px;
            padding: 10px 0px;
        }
    
        &__result {
            padding: 10px;
            font-size: 16px;
        }

        &__select {
            @extend %btn;
        }
    }
}