@import './button.scss';

.Upload {
    border: 3px dashed gray;
    text-align: center;

    > div {
        padding: 10px;
    }

    &--isDragActive {
        border-color: #3498db;
    }

    &__drop,
    &__separator {
        display: block;
        color: gray;
        margin: 0px;
    }

    &__drop {
        font-size: 30px;
    }

    &__separator {
        font-size: 20px;
        padding: 10px 0px;
    }

    &__result {
        padding: 10px;
        font-size: 16px;
        text-align: left;

        &__item > * {
            display: inline-block;
        }
    }

    &__select {
        @extend %btn;
    }
}